{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block wrappedContent %}

    <h1 class="govuk-heading-xl">Additional costs and fees</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        
        {% for field in fieldsToShow %}
            {% if field.type == feeTypes.optionalFee %}
               {{ govukInput({
                    label: {
                        text: field.description,
                        classes: "govuk-label--s"
                    },
                    hint: {
                        text: "Excluding VAT"
                    },
                    classes: "govuk-input--width-5",
                    id: field.levelCode,
                    name: field.levelCode,
                    prefix: {text: "£"}
                }) }}
            {% elif field.type == feeTypes.optionalUnit %}
                {{ govukInput({
                    label: {
                        text: field.description,
                        classes: "govuk-label--s"
                    },
                    classes: "govuk-input--width-3",
                    id: field.levelCode,
                    name: field.levelCode,
                    inputmode: "numeric"
                }) }}
            
            {% elif field.type == feeTypes.optionalBool %}
                {{ govukRadios({
                    name: field.levelCode,
                    id: field.levelCode,
                    fieldset: {
                        legend: {
                            text: field.description,
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--s"
                        }
                    },           
                    items: [
                        {
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            value: "no",
                            text: "No"
                        }
                    ]
                }) }}
            {% endif %}
        {% endfor %}

        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true,
            type: "submit"
        }) }}
    </form>

{% endblock %}