{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block wrappedContent %}

    {% include "main/errorSummary.njk" %}

    <h1 class="govuk-heading-xl">Additional costs and fees</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        
        {% for field in fieldsToShow %}
            {% set description = field.formQuestion or field.description %}
            {% set fieldValue = formValues[field.levelCode] %}
            {% set fieldErrorMessage = errors.messages[field.levelCode] %}

            {% if field.levelCodeType == feeTypes.optionalFee %}
               {{ govukInput({
                    label: {
                        text: description,
                        classes: "govuk-label--s"
                    },
                    hint: {
                        text: "Excluding VAT"
                    },
                    classes: "govuk-input--width-5",
                    id: field.levelCode,
                    name: field.levelCode,
                    prefix: {text: "£"},
                   value: fieldValue,
                   errorMessage: fieldErrorMessage
                }) }}
            {% elif field.levelCodeType == feeTypes.optionalUnit %}
                {{ govukInput({
                    label: {
                        text: description,
                        classes: "govuk-label--s"
                    },
                    classes: "govuk-input--width-3",
                    id: field.levelCode,
                    name: field.levelCode,
                    inputmode: "numeric",
                    value: fieldValue,
                    errorMessage: fieldErrorMessage
                }) }}
            
            {% elif field.levelCodeType == feeTypes.optionalBool %}
                {% set boolFieldValue = fieldValue %}
                {% if fieldValue == true %}
                    {% set boolFieldValue = "yes" %}
                {% elif fieldValue == false %}
                    {% set boolFieldValue = "no" %}
                {% endif %}

                {{ govukRadios({
                    name: field.levelCode,
                    id: field.levelCode,
                    fieldset: {
                        legend: {
                            text: description,
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--s"
                        }
                    },           
                    items: [
                        {
                            value: "yes",
                            text: "Yes"
                        },
                        {
                            value: "no",
                            text: "No"
                        }
                    ],
                    value: boolFieldValue,
                    errorMessage: fieldErrorMessage
                }) }}
            {% endif %}
        {% endfor %}

        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true,
            type: "submit"
        }) }}
    </form>

{% endblock %}