{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block wrappedContent %}

    {% set items = [] %}

    {% for caseStage in caseStages %}
        {{ items.push({
            value: caseStage.caseStage,
            text: caseStage.caseStage + " - " + caseStage.description
        }) | reject() }}
    {% endfor %}

    {% include "main/errorSummary.njk" %}

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    
        {{ govukRadios({
            name: "caseStage",
            fieldset: {
                legend: {
                text: "Case Stage / Level",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
                }
            },
            hint: {
                text: "Select one option"
            },
            items: items,
            value: formValues.caseStage,
            errorMessage: errors.messages.caseStage
        }) }}
        
        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true,
            type: "submit"
        }) }}
    </form>

{% endblock %}