{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% if errors.list | length %}
<div>
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors.list
    }) }}
</div>
{% endif %}