{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <h1 class="govuk-heading-xl">{{config.SERVICE_NAME}}</h1>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {# This is not valid button text for a real govuk app #}
        {{ govukButton({
            text: "Start now",
            preventDoubleClick: true,
            type: "submit"
        }) }}
    </form>

{% endblock %}